include ./mixins.jade
doctype html
html
  head
    title= title + ' | VersionPress docs'
    link(rel="icon", href="/public/img/favicon.ico")
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='//fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,600', rel='stylesheet', type='text/css')
    link(href='/public/app.css', rel='stylesheet', type='text/css')
  body
    header(class="navbar navbar-default")
      div.container
        div.navbar-header
          a(href="/#{language}").navbar-brand
            img(src="/public/img/icon.png" alt="VersionPress icon" style="margin-right:10px")
            | VersionPress Documentation
            span.docs-for-version for version
              = ' '
              span.docs-version #{displayVersion)
        ul(class="nav navbar-nav navbar-right")
          li
            a(href="https://versionpress.net") VersionPress Home
    div(class="container body-content")
      div.row
        div#sidebar
          div#docs-search.outline-box
            form(method="GET", action="/search")
              input(name="q" id="search-box" placeholder="Search docs")
              input(type="hidden" name="language" value="#{language}")
              button(type="submit" id="search-button")
                <svg aria-hidden="true" class="octicon" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path d="M15.7 14.3L11.89 10.47c0.7-0.98 1.11-2.17 1.11-3.47 0-3.31-2.69-6-6-6S1 3.69 1 7s2.69 6 6 6c1.3 0 2.48-0.41 3.47-1.11l3.83 3.81c0.19 0.2 0.45 0.3 0.7 0.3s0.52-0.09 0.7-0.3c0.39-0.39 0.39-1.02 0-1.41zM7 11.7c-2.59 0-4.7-2.11-4.7-4.7s2.11-4.7 4.7-4.7 4.7 2.11 4.7 4.7-2.11 4.7-4.7 4.7z"></path></svg>
          div#docs-navigation.outline-box
            div.outline-header
              | Docs for
              = ' '
              strong: | VersionPress #{displayVersion}
            ul#menu
              li
                a(href="/#{language}") Home
              each val in rootRoute['_routes']
                +traverseRoutes(val)


          div#page-navigation.outline-box
            div.outline-header
              strong On this page:
            div#page-toc
              ul
                li
        div(class=externalContent ? "main-content" : "markdown-body main-content")
          block content
          div.prev-next-navigation
            if(previousRoute)
              div.previous-topic
                div.caption Previous:
                div.link
                  a(href="/#{language}/#{previousRoute.url}") #{previousRoute.url == "" ? "Home" : previousRoute.title}
            if(nextRoute)
              div.next-topic
                div.caption Next:
                div.link
                  a(href="/#{language}/#{nextRoute.url}") #{nextRoute.title}
    div.footer
      div.container
        p.text-muted  &copy; #{moment().format("YYYY")}  VersionPress
    script(src='/public/app.js', defer)
