@using VersionPress.DocsSite.HtmlHelpers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,600' rel='stylesheet' type='text/css'>
    <link href="~/css/style-base.css" rel="stylesheet" />

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="~/js/home.js"></script>

    @if (!Request.IsLocal)
    {
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-51665915-2', 'auto');
            ga('send', 'pageview');

        </script>
    }
</head>
<body>

    <header class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a href="~/" class="navbar-brand">
                    <img src="~/img/icon.png" alt="VersionPress icon" style="margin-right: 10px;" />
                    VersionPress Documentation
                    <span class="docs-for-version">for version @VersionPressHelper.DocsVersion()</span>
                </a>

            </div>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="http://versionpress.net/">VersionPress home</a></li>
            </ul>
        </div>
    </header>

    <div class="container body-content">

        <div class="row">

            <div id="sidebar">

                <div id="sidebar-header">
                    Docs for <strong>VersionPress @VersionPressHelper.DocsVersion()</strong>
                </div>

                @Html.MvcSiteMap().Menu()
            </div>


            <div class="markdown-body main-content">
                @RenderBody()
                
                <div class="prev-next-navigation">
                    <div class="previous-topic">
                        @Html.MvcSiteMap().Previous("Previous:")
                    </div>

                    <div class="next-topic">
                        @Html.MvcSiteMap().Next("Next:")
                    </div>
                </div>

            </div>
            

        </div>


    </div>

    <div class="footer">
        <div class="container">
            <p class="text-muted">&copy; 2014 VersionPress</p>
        </div>
    </div>

</body>
</html>
